@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Montserrat:ital,wght@0,400;0,900;1,400;1,900&display=swap');

* {
	font-family: 'Montserrat', sans-serif;
}

body {
	padding: 0;
	margin: 0;

	box-sizing: border-box;
	
}